@import "~normalize.css";

body,
html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
}

p {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
}

.authorization {
  display: flex;
  align-items: center;
  justify-content: center;

  & form {
    border: 1px solid #b7b7b7;
    display: flex;
    flex-direction: column;
    padding: 70px 100px;
    border-radius: 7px;
    min-width: 500px;
  }

  & p {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #111111;
    margin-bottom: 24px;
  }

  & input {
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    font-style: normal;
    font-weight: 160;
    font-size: 16px;
    line-height: 22px;
    color: black;
    margin-bottom: 12px;
    padding: 15px;
    outline: none;
    appearance: none;

    &::placeholder {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 160;
      font-size: 16px;
      line-height: 22px;
      color: #9A9A9A;
    }

    &:focus,
    &:hover {
      border-color: #62c7a5;
    }
  }

  & button {
    border: none;
    min-height: 52px;
    min-width: 200px;
    padding: 0 5px;
    align-self: flex-start;
    background: #62c7a5;
    border-radius: 60px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
      background: #499c80;
    }
  }
}

.contacts {
  padding: 20px;
  box-sizing: border-box;
}

.contacts_title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #111111;
  margin-bottom: 45px;
}

.contacts_search {
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 160;
  font-size: 16px;
  line-height: 22px;
  color: black;
  margin-bottom: 12px;
  padding: 10px;
  outline: none;
  appearance: none;
  min-width: 300px;

  &::placeholder {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 160;
    font-size: 16px;
    line-height: 22px;
    color: #9A9A9A;
  }

  &:focus,
  &:hover {
    border-color: #62c7a5;
  }
}

.contacts_table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 14px;
  overflow: hidden;

  & tr {
    background: #F2F2F2;
  }

  & th {
    background: #e0dddd;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  & tr.editing {
    background: #d2dcd9;
  }

  & td {
    background: transparent;
    border: 1px solid white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  & input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    color: black;
    padding: 10px 15px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    appearance: none;
  }
}

.contacts_editing-column {
  width: 150px;
  text-align: center;
}

.contacts_button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;

  &--edit {
    background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='30' width='30' viewBox='0 0 55.25 55.25'%3E%3Cpath d='M52.618 2.631c-3.51-3.508-9.219-3.508-12.729 0L3.827 38.693c-.017.017-.027.038-.042.056-.021.024-.039.05-.058.076a.972.972 0 00-.125.239c-.009.026-.022.049-.029.075l-.012.03-3.535 14.85a.991.991 0 00-.022.202c0 .013-.004.025-.004.038a.995.995 0 00.095.403c.049.107.11.21.196.296a1.006 1.006 0 00.938.266l14.85-3.535c.027-.006.051-.021.077-.03a.985.985 0 00.3-.162c.024-.019.049-.033.072-.054.008-.008.018-.012.026-.02L52.617 15.36c3.51-3.51 3.51-9.22.001-12.729zm-1.414 1.414c2.488 2.489 2.7 6.397.65 9.137l-9.787-9.787c2.741-2.05 6.649-1.838 9.137.65zm-4.95 14.85l-9.9-9.9 1.414-1.414 9.9 9.9-1.414 1.414zM4.961 50.288a.999.999 0 00-1.414 0l-.757.757 2.554-10.728 4.422-.491-.569 5.122c-.004.038.01.073.01.11 0 .038-.014.072-.01.11.004.033.021.06.028.092a1.016 1.016 0 00.245.473c.048.051.1.094.157.134.045.031.088.06.138.084.066.031.135.049.207.066.038.009.069.03.108.035a.982.982 0 00.109.006h.004a.995.995 0 00.109-.006l5.122-.569-.491 4.422-10.729 2.554.757-.757a1 1 0 000-1.414zm12.55-5.479L39.889 22.43a.999.999 0 10-1.414-1.414L16.097 43.395l-4.773.53.53-4.773 22.38-22.378a.999.999 0 10-1.414-1.414L10.44 37.738l-3.183.354L34.94 10.409l9.9 9.9-27.683 27.683.354-3.183zm31.571-28.742l-9.9-9.9 1.415-1.415 9.9 9.9-1.415 1.415z'/%3E%3C/svg%3E") center no-repeat;

    &:hover {
      background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2362c7a5' height='30' width='30' viewBox='0 0 55.25 55.25'%3E%3Cpath d='M52.618 2.631c-3.51-3.508-9.219-3.508-12.729 0L3.827 38.693c-.017.017-.027.038-.042.056-.021.024-.039.05-.058.076a.972.972 0 00-.125.239c-.009.026-.022.049-.029.075l-.012.03-3.535 14.85a.991.991 0 00-.022.202c0 .013-.004.025-.004.038a.995.995 0 00.095.403c.049.107.11.21.196.296a1.006 1.006 0 00.938.266l14.85-3.535c.027-.006.051-.021.077-.03a.985.985 0 00.3-.162c.024-.019.049-.033.072-.054.008-.008.018-.012.026-.02L52.617 15.36c3.51-3.51 3.51-9.22.001-12.729zm-1.414 1.414c2.488 2.489 2.7 6.397.65 9.137l-9.787-9.787c2.741-2.05 6.649-1.838 9.137.65zm-4.95 14.85l-9.9-9.9 1.414-1.414 9.9 9.9-1.414 1.414zM4.961 50.288a.999.999 0 00-1.414 0l-.757.757 2.554-10.728 4.422-.491-.569 5.122c-.004.038.01.073.01.11 0 .038-.014.072-.01.11.004.033.021.06.028.092a1.016 1.016 0 00.245.473c.048.051.1.094.157.134.045.031.088.06.138.084.066.031.135.049.207.066.038.009.069.03.108.035a.982.982 0 00.109.006h.004a.995.995 0 00.109-.006l5.122-.569-.491 4.422-10.729 2.554.757-.757a1 1 0 000-1.414zm12.55-5.479L39.889 22.43a.999.999 0 10-1.414-1.414L16.097 43.395l-4.773.53.53-4.773 22.38-22.378a.999.999 0 10-1.414-1.414L10.44 37.738l-3.183.354L34.94 10.409l9.9 9.9-27.683 27.683.354-3.183zm31.571-28.742l-9.9-9.9 1.415-1.415 9.9 9.9-1.415 1.415z'/%3E%3C/svg%3E") center no-repeat;
    }
  }

  &--save {
    background: url("data:image/svg+xml,%0A%3Csvg height='30' width='30' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M472.988 88.146L373.763 8.765A40.138 40.138 0 00348.775 0H64C41.944 0 24 17.944 24 40v432c0 22.056 17.944 40 40 40h384c22.056 0 40-17.944 40-40V119.38c0-12.218-5.472-23.603-15.012-31.234zM352 16.24V88c0 13.233-10.767 24-24 24H120c-13.233 0-24-10.767-24-24V16h136v48c0 8.822 7.178 16 16 16h48c8.822 0 16-7.178 16-16V16c39.888 0 37.501-.101 40 .24zM296.001 16c.009 48.32.099 48-.001 48h-48V16zM384 368H96v-24c0-13.233 10.766-24 24-24h240c13.234 0 24 10.767 24 24zM96 496V384h288v112zm376-24c0 13.233-10.766 24-24 24h-48V344c0-22.056-17.944-40-40-40H120c-22.056 0-40 17.944-40 40v152H64c-13.234 0-24-10.767-24-24V40c0-13.233 10.766-24 24-24h16v72c0 22.056 17.944 40 40 40h208c22.056 0 40-17.944 40-40V24.645l94.993 75.995A23.88 23.88 0 01472 119.38z'/%3E%3C/svg%3E") center no-repeat;

    &:hover{
      background: url("data:image/svg+xml,%0A%3Csvg height='30' width='30' fill='%2362c7a5' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M472.988 88.146L373.763 8.765A40.138 40.138 0 00348.775 0H64C41.944 0 24 17.944 24 40v432c0 22.056 17.944 40 40 40h384c22.056 0 40-17.944 40-40V119.38c0-12.218-5.472-23.603-15.012-31.234zM352 16.24V88c0 13.233-10.767 24-24 24H120c-13.233 0-24-10.767-24-24V16h136v48c0 8.822 7.178 16 16 16h48c8.822 0 16-7.178 16-16V16c39.888 0 37.501-.101 40 .24zM296.001 16c.009 48.32.099 48-.001 48h-48V16zM384 368H96v-24c0-13.233 10.766-24 24-24h240c13.234 0 24 10.767 24 24zM96 496V384h288v112zm376-24c0 13.233-10.766 24-24 24h-48V344c0-22.056-17.944-40-40-40H120c-22.056 0-40 17.944-40 40v152H64c-13.234 0-24-10.767-24-24V40c0-13.233 10.766-24 24-24h16v72c0 22.056 17.944 40 40 40h208c22.056 0 40-17.944 40-40V24.645l94.993 75.995A23.88 23.88 0 01472 119.38z'/%3E%3C/svg%3E") center no-repeat;
    }
  }

  &--delete {
    background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511 511'%3E%3Cpath d='M455.5 112H439v-8.5c0-21.78-17.72-39.5-39.5-39.5H327V39.5C327 17.72 309.28 0 287.5 0h-64C201.72 0 184 17.72 184 39.5V64h-72.5C89.72 64 72 81.72 72 103.5v8.5H55.5a7.5 7.5 0 000 15H72v344.5c0 21.78 17.72 39.5 39.5 39.5h288c21.78 0 39.5-17.72 39.5-39.5V127h16.5a7.5 7.5 0 000-15zM199 39.5c0-13.509 10.991-24.5 24.5-24.5h64c13.509 0 24.5 10.991 24.5 24.5V64H199V39.5zm-112 64C87 89.991 97.991 79 111.5 79h288c13.509 0 24.5 10.991 24.5 24.5v8.5H87v-8.5zm337 368c0 13.509-10.991 24.5-24.5 24.5h-288C97.991 496 87 485.009 87 471.5V127h337v344.5z'/%3E%3Cpath d='M255.5 463a7.5 7.5 0 007.5-7.5v-288a7.5 7.5 0 00-15 0v288a7.5 7.5 0 007.5 7.5zM167.5 463a7.5 7.5 0 007.5-7.5v-288a7.5 7.5 0 00-15 0v288a7.5 7.5 0 007.5 7.5zM343.5 463a7.5 7.5 0 007.5-7.5v-288a7.5 7.5 0 00-15 0v288a7.5 7.5 0 007.5 7.5z'/%3E%3C/svg%3E") center no-repeat;

    &:hover{
      background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2362c7a5' viewBox='0 0 511 511'%3E%3Cpath d='M455.5 112H439v-8.5c0-21.78-17.72-39.5-39.5-39.5H327V39.5C327 17.72 309.28 0 287.5 0h-64C201.72 0 184 17.72 184 39.5V64h-72.5C89.72 64 72 81.72 72 103.5v8.5H55.5a7.5 7.5 0 000 15H72v344.5c0 21.78 17.72 39.5 39.5 39.5h288c21.78 0 39.5-17.72 39.5-39.5V127h16.5a7.5 7.5 0 000-15zM199 39.5c0-13.509 10.991-24.5 24.5-24.5h64c13.509 0 24.5 10.991 24.5 24.5V64H199V39.5zm-112 64C87 89.991 97.991 79 111.5 79h288c13.509 0 24.5 10.991 24.5 24.5v8.5H87v-8.5zm337 368c0 13.509-10.991 24.5-24.5 24.5h-288C97.991 496 87 485.009 87 471.5V127h337v344.5z'/%3E%3Cpath d='M255.5 463a7.5 7.5 0 007.5-7.5v-288a7.5 7.5 0 00-15 0v288a7.5 7.5 0 007.5 7.5zM167.5 463a7.5 7.5 0 007.5-7.5v-288a7.5 7.5 0 00-15 0v288a7.5 7.5 0 007.5 7.5zM343.5 463a7.5 7.5 0 007.5-7.5v-288a7.5 7.5 0 00-15 0v288a7.5 7.5 0 007.5 7.5z'/%3E%3C/svg%3E") center no-repeat;
    }
  }

  &--add {
    background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.867 477.867'%3E%3Cpath d='M392.533 0h-307.2C38.228.056.056 38.228 0 85.333v307.2c.056 47.105 38.228 85.277 85.333 85.333h307.2c47.105-.056 85.277-38.228 85.333-85.333v-307.2C477.81 38.228 439.638.056 392.533 0zm51.2 392.533c0 28.277-22.923 51.2-51.2 51.2h-307.2c-28.277 0-51.2-22.923-51.2-51.2v-307.2c0-28.277 22.923-51.2 51.2-51.2h307.2c28.277 0 51.2 22.923 51.2 51.2v307.2z'/%3E%3Cpath d='M324.267 221.867H256V153.6c0-9.426-7.641-17.067-17.067-17.067s-17.067 7.641-17.067 17.067v68.267H153.6c-9.426 0-17.067 7.641-17.067 17.067S144.174 256 153.6 256h68.267v68.267c0 9.426 7.641 17.067 17.067 17.067S256 333.692 256 324.267V256h68.267c9.426 0 17.067-7.641 17.067-17.067s-7.642-17.066-17.067-17.066z'/%3E%3C/svg%3E") center no-repeat;

    &:hover {
      background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2362c7a5' viewBox='0 0 477.867 477.867'%3E%3Cpath d='M392.533 0h-307.2C38.228.056.056 38.228 0 85.333v307.2c.056 47.105 38.228 85.277 85.333 85.333h307.2c47.105-.056 85.277-38.228 85.333-85.333v-307.2C477.81 38.228 439.638.056 392.533 0zm51.2 392.533c0 28.277-22.923 51.2-51.2 51.2h-307.2c-28.277 0-51.2-22.923-51.2-51.2v-307.2c0-28.277 22.923-51.2 51.2-51.2h307.2c28.277 0 51.2 22.923 51.2 51.2v307.2z'/%3E%3Cpath d='M324.267 221.867H256V153.6c0-9.426-7.641-17.067-17.067-17.067s-17.067 7.641-17.067 17.067v68.267H153.6c-9.426 0-17.067 7.641-17.067 17.067S144.174 256 153.6 256h68.267v68.267c0 9.426 7.641 17.067 17.067 17.067S256 333.692 256 324.267V256h68.267c9.426 0 17.067-7.641 17.067-17.067s-7.642-17.066-17.067-17.066z'/%3E%3C/svg%3E") center no-repeat;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.hidden {
    display: none;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.preloader {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;' width='200px' height='200px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='rotate(0 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.9166666666666666s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(30 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.8333333333333334s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(60 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.75s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(90 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.6666666666666666s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(120 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.5833333333333334s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(150 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.5s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(180 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.4166666666666667s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(210 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.3333333333333333s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(240 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.25s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(270 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.16666666666666666s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(300 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.08333333333333333s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(330 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%2362c7a5'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
}
